<div style="text-align: center; width: 100%; height: 50px">
  <span>
    <a routerLink="./day-view">
      <i class="fa-solid fa-calendar-day fa-3x" style="padding:20px;"></i>
    </a>
  </span>
  <span>
    <a routerLink="./week-view">
      <i class="fa-solid fa-calendar-week fa-3x" style="padding:20px;"></i>
    </a>
  </span>
  <span>
    <a routerLink="./month-view">
      <i class="fa-solid fa-calendar-days fa-3x" style="padding:20px;"></i>
    </a>
  </span>
</div>
<router-outlet></router-outlet>